<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="xUnit Xamarin CI Builds" value="https://www.myget.org/F/xunit-xamarin/api/v3/index.json" />
    <add key="CI Builds (xunit)" value="https://www.myget.org/F/xunit/api/v3/index.json" />
    <add key="CI Builds (msbuildsdkextras)" value="https://www.myget.org/F/msbuildsdkextras/api/v3/index.json" />
  </packageSources>
</configuration>
