<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Forms" version="1.2.2.6243" targetFramework="MonoTouch10" />
  <package id="xunit.abstractions" version="99.99.99" targetFramework="MonoTouch10" />
  <package id="xunit.runner.utility" version="99.99.99" targetFramework="MonoTouch10" />
</packages>