<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="xunit" version="2.1.0-beta3-build2999" targetFramework="portable45-net45+win8+wp8+wpa81" userInstalled="true" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+wpa81+xamarinios1" userInstalled="true" />
  <package id="xunit.assert" version="2.1.0-beta3-build2999" targetFramework="portable45-net45+win8+wp8+wpa81" userInstalled="true" />
  <package id="xunit.core" version="2.1.0-beta3-build2999" targetFramework="portable45-net45+win8+wp8+wpa81" userInstalled="true" />
  <package id="xunit.extensibility.core" version="2.1.0-beta3-build2999" targetFramework="portable45-net45+win8+wp8+wpa81" userInstalled="true" />
</packages>